<head>
  <title>Prueba</title>
</head>

<body>
    {{> contenido}}


</body>


<template name="contenido">
    {{#each lol}}
    <li class="{{#if checked}}checked{{/if}}">
        <button class="delete">&times;</button>
        <span class="text">{{key1}}</span>
    </li>
    {{/each}}
    <label class="hide-completed">
        <input type="checkbox" />
        Hide Completed Tasks
    </label>

    <input type="text" name="text" placeholder="Type to add new tasks" /><button type="button" class="button">Grabar</button>
</template>
